# Question
### Average subscriber ridership remains the same even during periods of precipitation because subscribers feel they have to maximize the value of their subscriptions.

# Null Hypothesis ($H_0$)

### The mean number of trips of subscribers over a week with precipitation is less than or equal to the number of trips of subscribers over a week with no precipitation in the same month

### $H_0$ : T(customer) <= T(subscriber)

# Alternate Hypothesis ($H_a$)

### The mean number of trips of subscribers over a week with precipitation is more than or equal to the number of trips of subscribers over a week with no precipitation 

### $H_0$: T(customer) > T(subscriber)

### Significance level  Î±  = 0.05

In [11]:
from __future__  import print_function, division
import pylab as pl
import pandas as pd
import numpy as np
import os
import json

%pylab inline

if os.getenv ('PUI2016') is None:
    print ("Must set env variable PUI2016")
if os.getenv ('PUIDATA') is None:
    print ("Must set env variable PUI2016")

Populating the interactive namespace from numpy and matplotlib

In [19]:
### Using code from Instructor' template
def getCitiBikeCSV(datestring):
    print ("Downloading", datestring)
    ### First check that the file is not already there
    if not os.path.isfile(os.getenv("PUIDATA") + "/" + datestring + "-citibike-tripdata.csv"):
        if os.path.isfile(datestring + "-citibike-tripdata.csv"):
            # if in the current dir just move it
            if os.system("mv " + datestring + "-citibike-tripdata.csv " + os.getenv("PUIDATA")):
                print ("Error moving file!, Please check!")
        #otherwise start looking for the zip file
        else:
            if not os.path.isfile(os.getenv("PUIDATA") + "/" + datestring + "-citibike-tripdata.zip"):
                if not os.path.isfile(datestring + "-citibike-tripdata.zip"):
                    os.system("curl -O https://s3.amazonaws.com/tripdata/" + datestring + "-citibike-tripdata.zip")
                ###  To move it I use the os.system() functions to run bash commands with arguments
            os.system("mv " + datestring + "-citibike-tripdata.zip " + os.getenv("PUIDATA"))
            ### unzip the csv 
            os.system("unzip " + os.getenv("PUIDATA") + "/" + datestring + "-citibike-tripdata.zip")
            ## NOTE: old csv citibike data had a different name structure. 
            if '2013' in datestring:
                os.system("mv " + datestring[:4] + '-' +  datestring[4:] + 
                          "\ -\ Citi\ Bike\ trip\ data.csv " + datestring + "-citibike-tripdata.csv")
            os.system("mv " + datestring + "-citibike-tripdata.csv " + os.getenv("PUIDATA"))
    ### One final check:
    if not os.path.isfile(os.getenv("PUIDATA") + "/" + datestring + "-citibike-tripdata.csv"):
        print ("WARNING!!! something is wrong: the file is not there!")

    else:
        print ("file in place, you can continue")

In [24]:
datestring = '201307'
print (os.getenv("PUIDATA"))
getCitiBikeCSV(datestring)

/home/cusp/pgm293/PUIdata
Downloading 201307
file in place, you can continue

In [26]:
df = pd.read_csv(os.getenv("PUIDATA") + "/" + datestring + '-citibike-tripdata.csv')
# df is the dataframe where the content of the csv file is stored
df['date'] = pd.to_datetime(df['starttime'])
# note that with dataframes I can refer to variables as dictionary keys, 
# i.e. df['starttime'] or as attributes: df.starttime. 
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,date
0,634,2013-07-01 00:00:00,2013-07-01 00:10:34,164,E 47 St & 2 Ave,40.753231,-73.970325,504,1 Ave & E 15 St,40.732219,-73.981656,16950,Customer,\N,0,2013-07-01 00:00:00
1,1547,2013-07-01 00:00:02,2013-07-01 00:25:49,388,W 26 St & 10 Ave,40.749718,-74.002950,459,W 20 St & 11 Ave,40.746745,-74.007756,19816,Customer,\N,0,2013-07-01 00:00:02
2,178,2013-07-01 00:01:04,2013-07-01 00:04:02,293,Lafayette St & E 8 St,40.730287,-73.990765,237,E 11 St & 2 Ave,40.730473,-73.986724,14548,Subscriber,1980,2,2013-07-01 00:01:04
3,1580,2013-07-01 00:01:06,2013-07-01 00:27:26,531,Forsyth St & Broome St,40.718939,-73.992663,499,Broadway & W 60 St,40.769155,-73.981918,16063,Customer,\N,0,2013-07-01 00:01:06
4,757,2013-07-01 00:01:10,2013-07-01 00:13:47,382,University Pl & E 14 St,40.734927,-73.992005,410,Suffolk St & Stanton St,40.720664,-73.985180,19213,Subscriber,1986,1,2013-07-01 00:01:10

In [27]:
df.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender', 'date'],
      dtype='object')

In [28]:
df.drop(['starttime','stoptime','start station id',
       'start station name','start station latitude',
       'start station longitude','end station id','end station name',
       'end station latitude','end station longitude','bikeid',
       'birth year','gender'], axis = 1, inplace = True)

In [29]:
df.head()

   tripduration    usertype                date
0           634    Customer 2013-07-01 00:00:00
1          1547    Customer 2013-07-01 00:00:02
2           178  Subscriber 2013-07-01 00:01:04
3          1580    Customer 2013-07-01 00:01:06
4           757  Subscriber 2013-07-01 00:01:10

In [34]:
df_wd = pd.read_csv(os.getenv("PUI2016") + "_pgm293/HW3_pgm293/" + 'weather_data.csv')
df_wd.head()

             STATION                STATION_NAME      DATE  PRCP  SNWD  SNOW
0  GHCND:USW00094728  NY CITY CENTRAL PARK NY US  20130701  0.84   0.0   0.0
1  GHCND:USW00094728  NY CITY CENTRAL PARK NY US  20130702  0.08   0.0   0.0
2  GHCND:USW00094728  NY CITY CENTRAL PARK NY US  20130703  0.53   0.0   0.0
3  GHCND:USW00094728  NY CITY CENTRAL PARK NY US  20130704  0.00   0.0   0.0
4  GHCND:USW00094728  NY CITY CENTRAL PARK NY US  20130705  0.00   0.0   0.0

In [37]:
df_wd.columns
df_wd.drop(['STATION','STATION_NAME','SNWD','SNOW'], axis = 1, inplace = True)
df_wd.head()

       DATE  PRCP
0  20130701  0.84
1  20130702  0.08
2  20130703  0.53
3  20130704  0.00
4  20130705  0.00

In [52]:
df_wd_1 = df_wd[0:].copy()
df_wd_1['DATE'] = pd.to_datetime(df_wd_1['DATE'],format="%Y%m%d")
df_wd_1.head()

        DATE  PRCP
0 2013-07-01  0.84
1 2013-07-02  0.08
2 2013-07-03  0.53
3 2013-07-04  0.00
4 2013-07-05  0.00

In [54]:
df_july = df[(df['date'] <= '2013-07-31')]
df_july.head()

        tripduration    usertype                date
806150           933  Subscriber 2013-07-30 23:59:36
806151           799  Subscriber 2013-07-30 23:59:39
806152          4214    Customer 2013-07-30 23:59:49
806153           467  Subscriber 2013-07-30 23:59:51
806154           346  Subscriber 2013-07-30 23:59:54

In [ ]:
#fig = pl.figure(figsize(15,15))